.validateCode {
	&__code {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__canvas {
			margin-left: 8px;
		}

		&__change {
			color: #949fac;
		}

		margin-bottom: 16px;
	}
}
