$minWidth: 60px;

.sidebar {
	width: $minWidth;

	&__wrapper {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 60px);
		background: #001529;
		position: fixed;
		left: 0;

		&--collapsed {
			width: $minWidth;
			position: unset;
		}

		&__menu {
			flex: 1;
			overflow: auto;
		}

		&__footer {
			width: calc(100% - 24px);
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px;

			&__version {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				margin-right: 8px;
				color: #949fac;
				font-size: 12px;

				&--hide {
					display: none;
				}
			}

			&__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				background-color: rgba(255, 255, 255, 0.12);
			}
		}
	}

	.ant-menu-inline-collapsed {
		width: 60px;
	}
}
